.breadcrumb {
    width: 100%;

    &.bg-g-f2 {
        //background-color: $g-F2F0-cl;
    }

    .breadcrumb-menu {
        display: flex;
        padding: 10px 0;
        justify-content: center;

        @include max-media($bk-576) {
            overflow-x: scroll;
            white-space: nowrap;
        }


        .breadcrumb-list {
            &:not(:first-child) {
                &::before {
                    content: '\f111 ';
                    font-family: "Fontawesome";
                    font-size: 4px;
                    color:  $w-cl;
                    padding-right: 13px;
                }

                padding-left: 13px;
            }
            color: $blue-cl;
            display: flex;
            align-items: center;

            &.current{
                color: $w-cl;
            }
            

            a {
                font-size: 14px;
                transition: all .3s ease;

                @include max-media($bk-d-768) {
                    font-size: 13px;
                }

                &:hover {
                    color: $blue-cl;
                }
            }
        }
    }
}
