.swiper {
    .swiper-pagination {
        bottom: 0px;
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        margin: 0 10px;
        border-radius: 99px;
    }

    .swiper-pagination-bullet-active {
        background-color: $main-cl;
        width: 50px;
    }
}