html {
	.mfp-bg {
		z-index: 999998;
	}
	.mfp-wrap {
		z-index: 999999;
	}
}
.mfp-zoom-in {
	.mfp-content {
		opacity: 0;
		transition: all 0.2s ease-in-out;
		transform: scale(0.8);
	}
	&.mfp-bg {
		opacity: 0;
		transition: all 0.3s ease-out;
	}
	&.mfp-ready {
		.mfp-content {
			opacity: 1;
			transform: scale(1);
		}
		&.mfp-bg {
			opacity: 0.8;
		}
	}
	&.mfp-removing {
		.mfp-content {
			transform: scale(0.8);
			opacity: 0;
		}
		&.mfp-bg {
			opacity: 0;
		}
	}
}
.mfp-container {
	padding: 0;
	overflow-y: auto;
	@include custom-scrollbar(2px);
}
.mfp-content {
	// max-width: 600px;
	.mfp-close {
		color: $main-cl;
		color: $w-cl;
		background-color: $main-cl;
		border-radius: 100%;
		// transition: 0.3s;
		top: 15px;
		right: 15px;
		height: 20px;
		width: 20px;
		line-height: 20px;
		font-size: 15px;
		opacity: 1;
		font-weight: bold;
		@include max-media($bk-576){
			top: 10px;
			right: 10px;
		}
	}
	.popup-wrap {
		@include flex-mid;
		> div {
			width: 100%;
		}
	}
}
.stop-scrolling {
	position: relative;
	overflow: hidden;
	touch-action: none;
	-webkit-overflow-scrolling: auto;
}
.popup-wrap {
	display: none;
}
.swal2-popup.swal2-show {
	font-size: 14px;
}
.swal2-shown {
	padding-right: 0 !important;
}

.white-popup-block{
	padding: 30px;
	border-radius: 4px;
	@include max-media($bk-576){
		padding: 20px;
	}
	

	&.block-signup{
		max-width: 400px;
	}

	&.block-login{
		padding: 30px 23px 30px;
		max-width: 770px;
		width: 770px;
		@include max-media($bk-768){
			width: auto;
			padding: 20px;
		}
	}
}




