.team-teacher-detil {
    padding: 50px 0 100px;

    @include max-media($bk-d-1200) {
        padding: 50px 0 60px;
    }

    @include max-media($bk-d-1024) {
        padding: 40px 0;
    }

    .teacher-title {
        margin-bottom: 30px;

        @include max-media($bk-d-1024) {
            // margin-bottom: 20px;
        }
    }

    .teacher-head {
        overflow: hidden;
        .column {
            &.teacher-ig {
                width: calc(100% / 12 * 3);

                @include max-media($bk-992) {
                    width: calc(100% / 12 * 4);
                }

                @include max-media(650px) {
                    width: 100%;
                }

            }

            &.teacher-tx {
                width: calc(100% / 12 * 9);

                @include max-media($bk-992) {
                    width: calc(100% / 12 * 8);
                }

                @include max-media(650px) {
                    width: 100%;
                }

            }
        }

        .mona-content {
            padding-left: 30px;

            @include max-media($bk-d-1200) {
                padding-left: 0;
            }

            @include max-media(650px) {
                padding-top: 10px;
            }

            h4 {
                @include fz-24;
                @include lh(24, 24);
                margin: 30px 0;

                @include max-media($bk-d-1200) {
                    margin: 20px 0;
                }

                @include max-media($bk-992) {
                    margin: 15px 0;
                }

                &:first-child {
                    margin-top: 0;
                }
            }

            p {
                @include fz-16;
                @include lh(24, 16);
            }

            .mona-box {
                &:first-child {
                    margin-bottom: 45px;

                    @include max-media($bk-d-1200) {
                        margin-bottom: 30px;
                    }

                    @include max-media($bk-992) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    .teacher-box {
        .teacher-social {
            .social-item {
                color: $red-cl;

                &:hover {
                    color: $w-cl;
                    background-color: $red-cl;

                }
            }
        }

        .teacher-con {
            border-color: $red-cl;

            @include max-media($bk-d-1200) {
                padding: 15px;
            }

            &::before {
                background-color: $red-cl;
            }
        }
    }

    .teacher-content {
        margin-top: 90px;
        @include max-media($bk-d-1200){
            margin-top: 60px;
        }
        @include max-media($bk-d-1024){
            margin-top: 30px;
        }
        @include max-media(650px){
            margin-top: 10px;
        }

        
        .column {
            width: calc(100% / 12 * 6);
            @include max-media(650px){
                width: 100%;
            }
            &:first-child{
                margin-bottom: 13px;
            }
        }

    }

    .teacher-skill {
        .skill-title {
            @include lh(24, 24);
            margin-bottom: 30px;
            @include max-media($bk-d-1200){
                margin-bottom: 20px;
            }
            @include max-media($bk-992){
                margin-bottom: 15px;
            }
        }

        .mona-content{
            p{
                @include lh(24,16);
                margin: 1.5em 0;
                @include max-media($bk-d-992){
                    margin: 1em 0;
                }
                &:first-child{
                    margin-top: 0;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }


        .skill-item {
            &:not(:first-child){
                margin-top: 25px;
                @include max-media($bk-d-1200){
                    margin-top: 20px;
                }
                @include max-media($bk-d-992){
                    margin-top: 15px;
                }
            }
            &:nth-child(1) {
                .skill-line {
                    .line-w {
                        width: 90%;
                        background-color: $main-cl;
                    }
                }
            }

            &:nth-child(2) {
                .skill-line {
                    .line-w {
                        width: 60%;
                        background-color: $green-cl;
                    }
                }
            }

            &:nth-child(3) {
                .skill-line {
                    .line-w {
                        width: 30%;
                        background-color: $red-cl;
                    }
                }
            }

            &:nth-child(4) {
                .skill-line {
                    .line-w {
                        width: 60%;
                        background-color: $yel-cl;
                    }
                }
            }

            .skill-tt {
                @include lh(24, 16);
                margin-bottom: 7px;
            }

            .skill-line {
                width: 100%;
                height: 25px;
                box-shadow: inset 10px 10px 30px rgba($color: $b-cl, $alpha: .16);
                border-radius: 99px;
                position: relative;
                background-color: $w-cl;
                @include max-media($bk-992){
                    height: 20px;
                }

                .line-w {
                    content: '';
                    height: 100%;
                    border-radius: 99px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: all .3s ease;

                    p {
                        position: absolute;
                        top: 50%;
                        right: 25px;
                        transform: translateY(-50%);
                        color: $w-cl;
                        font-weight: bold;
                        @include max-media($bk-992){
                            font-size: 12px;
                        }
                    }

                }
            }
        }
    }





}