.team-teacher{
    padding: 50px 0;
    .teacher-head{
        .column{
            width: calc(100% / 4);
        }

        .teacher-title{
            margin-bottom: 40px;
            @include lh(48,40);
            text-align: center
        }
    }

    .teacher-group{
        .label{
            @include lh(16.8,14);
        }
        .f-select{
            margin-top: 5px;
            position: relative;
        }

        .filter-select{
            display: none;
        }

        .select-styled{
            border: 1px solid rgba($color: $b-cl, $alpha: .1);
            border-radius: 99px;
            padding: 10px 25px 9px;
            background-image: url('../img/svg/icon-down.svg');
            background-repeat: no-repeat;
            background-position: right 25px center;
            cursor: pointer;
            transition: all .3s ease;
            &:hover , &:focus{
                border-color: $main-cl;
            }
        }

        .select-options{
            background-color: $w-cl;
            box-shadow: 10px 10px 30px  rgba($color: $b-cl, $alpha: .16);
            padding: 25px;
            width: 100%;
            position: absolute;
            top: calc(100% + 15px);
            left: 0;
            z-index: 2;
            display: none;
            
            
            li{
                cursor: pointer;
                transition: all .3s ease;
                &:not(:first-child){
                    padding-top: 25px;
                }
                &:hover{
                    color: $main-cl;
                    font-weight: bold;
                }
            }
        }
    }


}